configs/config.mk
*.o
*.o.cmd
*.a.cmd
tags
!.gitignore
cscope.*
*~
*.stamp_built
*.stamp_configured
*.stamp_patched
*.stamp_target_installed
*.stamp_host_installed
*._*
*.sh~

update/*
version/*
./*.sh


mozart/src/mozart/mozart
mozart/src/sd_updater/update
mozart/output/fs/
mozart/output/fs/*
mozart/output/host/
mozart/output/host/*
mozart/output/target/
mozart/output/target/*
mozart/output/mozart/*

mozart/tools/device-tools/test/otact
mozart/tools/host-tools/nvgen/nvgen

mozart/src/aispeech/speech/libaispeech.so

mozart/output/molib/app/usr/lib/libaispeech.so
mozart/src/aispeech/speech/libaispeech.so
mozart/output/molib/app/usr/lib/libaiserver.so
mozart/src/aispeech/server/libaiserver.so
